.banner_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* background-image: url(../../../assets/desktopBanner.webp); */
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  background-size: cover;
  max-height: 450px;
  padding: 0;
  margin: 0;
}

.desktop_banner_image_container {
  z-index: -1;
  position: absolute;
  width: 100%;
  aspect-ratio: 14/15;
  max-height: 660px;
  top: 0;
  left: 0;
  right: 0;
}

.desktop_banner_heading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 240px;
}
.desktop_banner_heading1,
.desktop_banner_heading2 {
  font-weight: 700;
  font-size: var(--banner-font-size);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 6.44%,
    #ffffff 95.08%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin: 0;
  width: 70%;
  text-align: center;
}

.desktop_banner_heading1 {
  animation: 1s ease-out 250ms slideInFromRight;
}

.desktop_banner_heading2 {
  animation: 1s ease-out 250ms slideInFromLeft;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.banner_container_mobile {
  display: none;
}

@media screen and (max-width: 500px) {
  .banner_container {
    display: none;
  }

  .banner_container_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;

    margin: 0;
    padding: 0;
    padding-bottom: 40px;
  }

  .desktop_banner_image_container {
    z-index: -1;
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    max-height: 550px;
    top: 0;
    left: 0;
    right: 0;
  
  }

  .mobile_banner_heading {
    /* width: 100%; */

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 176px;
  }
  .mobile_banner_heading1,
  .mobile_banner_heading2 {
    font-weight: 700;
    font-size: var(--banner-font-size);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 6.44%,
      #ffffff 95.08%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .mobile_banner_heading1 {
    animation: 1s ease-out 250ms slideInFromRight;
  }

  .mobile_banner_heading2 {
    animation: 1s ease-out 250ms slideInFromLeft;
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
