:root {
  --green-color: #008080;
  --dark-color: #001a1a;
  --light-color: #e6f2f2;
  --white-color: #ffffff;

}
 

 body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 1400px) {
  :root {
    --banner-font-size: 140px;
    --sub-headings-font-size: 24px;
    --normal-font-size: 16px;
  }
}



@media screen and (min-width: 1100px) and (max-width: 1400px) {
  :root {
    --banner-font-size: 100px;
    --sub-headings-font-size: 24px;
    --normal-font-size: 14px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1100px) {
  :root {
    --banner-font-size: 80px;
    --sub-headings-font-size: 24px;
    --normal-font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
  :root {
    --banner-font-size: 60px;
    --sub-headings-font-size: 24px;
    --normal-font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  :root {
    --banner-font-size:54px;
    --sub-headings-font-size: 20px;
    --normal-font-size: 14px;
  }
}
